
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #333;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #137d7d;
}
#page {
    background-color: #137d7d;
}
#main-wrapper {
  background-color: #137d7d;
  background-image: -moz-linear-gradient(top, #137d7d 0%, #3ABFC0 100%);
  background-image: -ms-linear-gradient(top, #ccc 0%, #3ABFC0 100%);
  background-image: -o-linear-gradient(top, #137d7d 0%, #3ABFC0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #137d7d), color-stop(1, #3ABFC0));
  background-image: -webkit-linear-gradient(top, #137d7d 0%, #3ABFC0 100%);
  background-image: linear-gradient(top, #137d7d 0%, #3ABFC0 100%);
}

#main-menu {
  background: black;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -ms-linear-gradient(top, #ccc 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #fff 100%);
  background-image: linear-gradient(top, #f0f0f0 0%, #fff 100%);
}
#main {
  background: #FFF;
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #ffc44d;
  background-color: #ff9e4d;
  background-color: #ff4d4d;
  background-color: #cdd;
  background-color: #8ae0e0;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #3ABFC0;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #333;
}
